html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.site-header {
  display: flex;
  flex-direction: column;
  background-color: #f3f7f9;
}

.site-header__main-navigation {
  margin-top: 45px;
}

.site-header__top a,
.site-header__address a,
.site-header__account--out a,
.site-header__name a,
.main-navigation__site-list a,
.section-link,
.site-footer__logo {
  display: block;
  box-sizing: border-box;
}

.site-header__top a,
.site-header__address a,
.main-navigation__site-list a,
.section-link {
  color: #ffffff;
}

.site-content p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.site-header ul {
  list-style: none;
}

.site-header__top {
  margin-bottom: 46px;

  background-color: #293449;
}

.site-header__container {
  display: flex;
  justify-content: space-between;
}

.site-header__container > * {
  flex-shrink: 0;
}

.site-header__bottom {
  padding-bottom: 60px;
}

.site-header__top .logo,
.site-footer__top .logo {
  flex-shrink: 0;
  width: 220px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;

  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}

.site-header__top .site-header__logo {
  flex-shrink: 0;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 9px;
  padding-bottom: 9px;

  font-size: 24px;
  line-height: 24px;
}

.site-header__logo:hover,
.site-header__logo:focus {
  background-color: #ca2c37;
}

.site-header__search-form {
  position: relative;

  flex-shrink: 0;
  width: 270px;
}

.site-header__search-form button {
  position: absolute;
  top: 12px;
  left: 17px;
  width: 17px;
  height: 17px;

  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: transparent;
  border: none;
  opacity: 0.3;
}

.site-header__search-field {
  display: inline-block;
  width: 270px;
  height: 42px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 48px;

  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;

  background-color: transparent;
  border: none;
}

.site-header__search-field:hover {
  background-color: #212a3a;
}

.site-header__search-field:hover + button {
  opacity: 1;
}

.site-header__search-field::-webkit-input-placeholder {
  color: #ffffff;
}

.site-header__search-field:-moz-placeholder {
  color: #ffffff;
}

.site-header__search-field:focus {
  color: #000000;

  background-color: #ffffff;
}

.site-header__search-field:focus + button {
  background-image: url("../img/icon-search-focus.svg");
  opacity: 1;
}

.site-header__search-field:focus::-webkit-input-placeholder {
  color: #929292;
}


.site-header__search-field:focus:-moz-placeholder {
  color: #929292;
}

.site-header__top a {
  flex-shrink: 0;
  width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;

  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
}

.site-header__bookmarcs,
.site-header__cart {
  position: relative;
}

.site-header__bookmarcs {
  padding-left: 44px;
  padding-right: 28px;
}

.site-header__bookmarcs::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 17px;
  width: 14px;
  height: 16px;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.site-header__cart {
  padding-left: 50px;
  padding-right: 31px;
}

.site-header__cart::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 18px;
  width: 15px;
  height: 15px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.site-header__bookmarcs:hover,
.site-header__cart:hover,
.site-header__bookmarcs:focus,
.site-header__cart:focus {
  background-color: #212a3a;
}

.site-header__bookmarcs:hover::before,
.site-header__bookmarcs:focus::before,
.site-header__cart:hover::before,
.site-header__cart:focus::before  {
  opacity: 1;
}

.site-header__bookmarcs:active,
.site-header__cart:active {
  background-color: #161d29;
  opacity: 0.6;
}

.site-header__order {
  flex-shrink: 0;
  width: 160px;
  padding-left: 10px;
  padding-right: 10px;

  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  text-align: center;

  background-color: #63a63e;
}

.site-header__order:hover,
.site-header__order:focus {
  background-color: #5fbb2d;
}

.site-header__order:active {
  background-color: #518534;
  opacity: 0.5;
}

.site-header__main-title {
  margin: 0;
  margin-right: 20px;
  padding-left: 53px;
  width: 250px;

  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
}

.site-header__main-title a {
  color: #ee3643;
}

.site-header__address {
  position: relative;

  width: 270px;
}

.site-header__address a {
  width: 270px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 74px;
  padding-right: 52px;

  font-size: 21px;
  font-style: normal;
  line-height: 21px;
  color: #e9292a;
  text-align: center;
  white-space: nowrap;

  box-shadow: inset 0 0 0 3px #ffffff;
}

.site-header__address a::before {
  content: "";

  position: absolute;
  top: 13px;
  left: 15px;
  width: 19px;
  height: 19px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-header__address span {
  display: block;
  padding-top: 5px;

  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  font-style: normal;
  text-align: center;
}

.site-header__account--out a,
.site-header__name {
  display: inline-block;
  padding-top: 11px;
  padding-bottom: 13px;

  font-size: 21px;
  line-height: 21px;
  color: #000000;
  text-align: center;

  background-color: #ffffff;
}

.site-header__account--out ul {
  display: flex;
  width: 281px;
  margin: 0;
  padding: 0;
}

.site-header__account--out ul > * {
  flex-shrink: 0;
}

.site-header__account--out a:hover,
.site-header__account--out a:focus {
  color: #ee3643;
}

.site-header__account--out a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-header__account--out .site-header__login {
  position: relative;
  width: 121px;
  margin-right: 10px;
  padding-left: 47px;
  padding-right: 26px;
}

.site-header__account--out .site-header__login::before,
.site-header__account--out .site-header__login:active::before {
content: "";

position: absolute;
top: 14px;
left: 14px;
width: 20px;
height: 17px;

background-image: url("../img/icon-login-gray.svg");
background-repeat: no-repeat;
background-position: 0 0;
}

.site-header__account--out .site-header__login:active::before {
  opacity: 0.3;
}

.site-header__account--out .site-header__login:hover::before {
  background-image: url("../img/icon-login.svg");
}

.site-header__account--out .site-header__register {
  width: 150px;
  padding-left: 24px;
  padding-right: 24px;
}

.site-header__name {
  width: 299px;
}

.site-header__name:active {
  color: rgba(0, 0 , 0, 0.3);
}

.site-header__account--in a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.site-header__account--in a:hover,
.site-header__account--in a:focus {
  color: #ee3643;
}

.site-header__account--in a:active {
  color: rgba(0, 0 , 0, 0.3);
}

.site-header__account--in ul,
.main-navigation__site-list,
.site-footer ul {
  padding: 0;
  margin: 0;
}

.main-navigation__site-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 #293449;
}

.main-navigation__site-list a {
  padding-top: 20px;
  padding-bottom: 23px;
  padding-left: 30px;
  padding-right: 30px;

  font-size: 17px;
  line-height: 17px;
  text-align: center;
}

.main-navigation__site-list li {
  flex-shrink: 0;
}

.main-navigation__site-list a:hover,
.main-navigation__site-list a:focus {
  background-color: #293449;
}

.main-navigation__site-list a:active {
  opacity: 0.5;
}

.about-us {
  width: 540px;
}

.contacts {
  width: 300px;
}

.about-us h2,
.contacts h2 {
  margin-top: 0;

  font-size: 30px;
  line-height: 30px;
  color: #000000;
}

.about-us__companies {
  font-size: 18px;
  line-height: 40px;
  color: #000000;
  list-style: none;
}

.section-link {
  padding-top: 14px;
  padding-bottom: 14px;

  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;

  background-color: #ee3643;
  border-radius: 3px;
}

.section-link:hover,
.section-link:focus {
  background-color: #ca2c37;
}

.section-link:active {
  background-color: #ba2732;
}

.services {
  margin-bottom: 74px;
}

.about-us__link {
  width: 220px;
  padding-left: 41px;
  padding-right: 41px;
}

.contacts__link {
  width: 300px;
  padding-left: 64px;
  padding-right: 60px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.products_top-catalog {
  background-color: #f2f6f8;
}

.products_top-catalog {
  width: 100%;
}

.products_top-catalog h2 {
  margin: 0;
  padding-top: 32px;
  padding-bottom: 34px;
  padding-left: 30px;

  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.products__filter {
  width: 220px;

  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 15px;
}

.products__sorting-catalog {
  width: 700px;
}

.products__filter fieldset {
  border: none;
}

.products__filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
}

.products__filter button[type="submit"] {
  width: 140px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 38px;
  padding-right: 39px;

  text-align: center;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.products__filter button[type="submit"]:hover,
.products__filter button[type="submit"]:focus {
  border: 1px solid #bdc6ca;
}

.products__filter button[type="submit"]:active {
border: 1px solid #ee3643;
}

.products__products {
  list-style: none;
}

.products__product {
  width: 220px;
  height: 318px;

  font-family: "PT Sans", Arial, sans-serif;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.products__product img {
  display: block;
}

.products__product h3 {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
}

.products__product b {
  display: block;
  font-size: 17px;
  line-height: 12px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.products__old-price {
  color: #999999;
  text-decoration: line-through;
}

.products__price {
  position: relative;

  width: 123px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 35px;
  padding-right: 21px;

  color: #ffffff;

  background-color: #ee3643;
  border-radius: 3px 0 0 3px;
}

.products__price::after {
  position: absolute;
  top: 0px;
  right: -19px;

  content: "";

  border: 19px solid #ffffff;
  border-right: 0px;
  border-left: 19px solid #ee3643;
  border-top: 19px solid transparent;
  border-bottom: 19px solid transparent;
}

.products__pagination {
  margin-left: 240px;
  width: 700px;
}

.site-footer {
  margin-top: 86px;
}

.site-footer__logo {
  padding-left: 42px;
  padding-right: 42px;
  padding-top: 21px;
  padding-bottom: 26px;

  font-size: 30px;
  line-height: 21px;
}

.site-footer__logo a:hover,
.site-footer__logo a:focus {
  text-decoration: none;
}

.site-footer__top {
  background-color: #32425c;
}

.site-footer__top .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 50px;
}

.site-footer__address {
  order: 1;

  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;
}

.site-footer__advantages {
  width: 560px;
  order: 2;
}

.site-footer__top ul {
  list-style: none;
  font-size: 18px;
  line-height: 24px;
}

.site-footer__top a:not(.site-footer__logo):hover,
.site-footer__top a:not(.site-footer__logo):focus {
  text-decoration: underline;
}

.site-footer__top a:active {
  text-decoration: none;
}

.site-footer__company {
  width: 560px;
}

.site-footer__company a {
  color: #ffffff;
}

.site-footer__company a:active {
  color: rgba(255, 255, 255, 0.5);
}

.site-footer__advantages a {
  color: #ffd180;
}

.site-footer__advantages a:active {
  color: rgba(255, 209, 128, 0.5);
}

.site-footer__bottom .container {
  display: flex;
  justify-content: space-between;
}

.site-footer__bottom p {
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.site-footer__copyright {
  width: 300px;
  margin-right: 90px;
}

.site-footer__bottom a {
  color: #ffd180;
}

.social a {
  color: #ffffff;
}

.site-footer__social {
  width: 150px;
}

p.site-footer__developer {
  margin-right: 15px;
}

.site-footer__bottom a:hover,
.site-footer__bottom a:focus {
  text-decoration: underline;
}

.site-footer__bottom a:active {
  text-decoration: none;
  color: #ee3643;
}

.site-content_about {
  display: flex;
  justify-content: space-between;
}

.site-footer__bottom {
  background-color: #293449;
}

.modal-map,
.modal-write,
.modal-add {
  display: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
