html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.site-header {
  display: flex;
  flex-direction: column;

  background-color: #f3f7f9;
}

.site-header__main-navigation {
  margin-top: 39px;
  display: flex;
  justify-content: center;

  background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 #293449;
}

.site-header__top a:not(.logo),
.site-header__address a,
.site-header__account--out a,
.site-header__name,
.main-navigation__site-list a,
.button-link {
  display: block;
  box-sizing: border-box;
}

.site-header__top a,
.site-header__address a,
.main-navigation__site-list a {
  color: #ffffff;
}

.site-content p {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.site-header ul {
  list-style: none;
}

.site-header__top {
  margin-bottom: 46px;

  background-color: #293449;
}

.site-header__container {
  display: flex;
}

.site-header__bottom {
  padding-bottom: 60px;
}

.site-header__top .logo,
.site-footer__top .logo {
  display: block;
  flex-shrink: 0;
  align-self: flex-start;
  width: 220px;
  box-sizing: border-box;

  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;

  background-color: #ee3643;
  box-shadow: 0 5px 0 0 #b52933;
}

.site-header__top .site-header__logo {
  flex-shrink: 0;
  padding-left: 55px;
  padding-right: 54px;
  padding-top: 11px;
  padding-bottom: 7px;

  font-size: 24px;
  line-height: 24px;
}

.site-header__logo:hover,
.site-header__logo:focus {
  background-color: #ca2c37;
}

.site-header__search-form {
  position: relative;

  flex-shrink: 0;
}

.site-header__search-form button {
  position: absolute;
  top: 12px;
  left: 17px;
  width: 17px;
  height: 17px;

  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: transparent;
  border: none;
  opacity: 0.3;
}

.site-header__search-form button:hover {
  opacity: 1;
  cursor: pointer;
}

.site-header__search-field {
  display: block;
  width: 270px;
  height: 42px;
  padding-top: 11px;
  padding-bottom: 13px;
  padding-left: 48px;

  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;

  background-color: transparent;
  border: none;
}

.site-header__search-form:hover {
  background-color: #212a3a;
}

.site-header__search-field:hover + button {
  opacity: 1;
}

.site-header__search-field::-webkit-input-placeholder {
  color: #ffffff;
}

.site-header__search-field:-moz-placeholder {
  color: #ffffff;
}

.site-header__search-field:focus {
  color: #000000;

  background-color: #ffffff;
}

.site-header__search-field:focus + button {
  background-image: url("../img/icon-search-focus.svg");
  opacity: 1;
}

.site-header__search-field:focus::-webkit-input-placeholder {
  color: #929292;
}


.site-header__search-field:focus:-moz-placeholder {
  color: #929292;
}

.site-header__top a {
  flex-shrink: 0;
  width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;

  font-size: 17px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
}

.site-header__bookmarcs,
.site-header__cart {
  position: relative;
}

.site-header__bookmarcs {
  padding-left: 44px;
  padding-right: 28px;
}

.site-header__bookmarcs::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 17px;
  width: 14px;
  height: 16px;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.site-header__cart {
  padding-left: 49px;
  padding-right: 31px;
}

.site-header__cart::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 18px;
  width: 15px;
  height: 15px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.site-header__bookmarcs:hover,
.site-header__cart:hover,
.site-header__bookmarcs:focus,
.site-header__cart:focus {
  background-color: #212a3a;
}

.site-header__bookmarcs:hover::before,
.site-header__bookmarcs:focus::before,
.site-header__cart:hover::before,
.site-header__cart:focus::before  {
  opacity: 1;
}

.site-header__bookmarcs:active,
.site-header__cart:active {
  background-color: #161d29;
  opacity: 0.6;
}

.site-header__bookmarcs--full,
.site-header__cart--full {
  background-color: #ee3643;
}

.site-header__cart--full:hover,
.site-header__cart--full:focus {
  background-color: #ca2c37;
}

.site-header__cart--full:active {
  background-color: #ba2732;
}

.site-header__order {
  flex-shrink: 0;
  padding-left: 20px;
  padding-right: 22px;

  background-color: #63a63e;
}

.site-header__order:hover,
.site-header__order:focus {
  background-color: #5fbb2d;
}

.site-header__order:active {
  background-color: #518534;
  opacity: 0.5;
}

.site-header__main-title {
  flex-shrink: 0;
  width: 250px;
  margin: 0;
  margin-right: 20px;
  padding-top: 3px;
  padding-left: 52px;

  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
}

.site-header__main-title a {
  color: #ee3643;
}

.site-header__address {
  position: relative;

  flex-shrink: 0;
  margin-left: 49px;
}

.site-header__address a {
  padding-top: 13px;
  padding-bottom: 11px;
  padding-left: 74px;
  padding-right: 53px;

  font-size: 21px;
  font-style: normal;
  line-height: 21px;
  color: #e9292a;
  text-align: center;
  white-space: nowrap;

  box-shadow: inset 0 0 0 3px #ffffff;
}

.site-header__address a::before {
  content: "";

  position: absolute;
  top: 13px;
  left: 15px;
  width: 19px;
  height: 19px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-header__address span {
  display: block;
  padding-top: 4px;

  font-size: 14px;
  line-height: 24px;
  color: #32425c;
  font-style: normal;
  text-align: center;
}

.site-header__account {
  position: relative;

  flex-shrink: 0;
  margin-left: auto;
}

.site-header__account--out a,
.site-header__name {
  padding-top: 12px;
  padding-bottom: 12px;

  font-size: 21px;
  line-height: 21px;
  color: #000000;
  text-align: center;

  background-color: #ffffff;
}

.site-header__account--out ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.site-header__account--out li {
  flex-shrink: 0;
}

.site-header__account a:hover:not(.site-header__out),
.site-header__account a:focus:not(.site-header__out) {
  color: #ee3643;
}

.site-header__account a:active:not(.site-header__out) {
  color: rgba(0, 0, 0, 0.3);
}

.site-header__account--out .site-header__login {
  position: relative;

  margin-right: 10px;
  padding-left: 47px;
  padding-right: 26px;
}

.site-header__account--out .site-header__login::before,
.site-header__account--out .site-header__login:active::before {
  content: "";

  position: absolute;
  top: 14px;
  left: 14px;
  width: 20px;
  height: 17px;

  background-image: url("../img/icon-login-gray.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-header__account--out .site-header__login:active::before {
  opacity: 0.3;
}

.site-header__account--out .site-header__login:hover::before {
  background-image: url("../img/icon-login.svg");
}

.site-header__account--out .site-header__register {
  padding-left: 24px;
  padding-right: 24px;
}

.site-header__name {
  position: relative;

  padding-left: 46px;
  padding-right: 68px;
}

.site-header__name::before {
  content: "";

  position: absolute;
  top: 13px;
  left: 13px;

  width: 20px;
  height: 18px;

  background-image: url("../img/name.svg");
  background-repeat: no-repeat;
  background-position: 0 -34px;
}

.site-header__name:hover::before {
  background-position: 0 -52px;
}

.site-header__name:active {
  color: rgba(0, 0 , 0, 0.3);
}

.site-header__account--in a:not(.site-header__name):not(.site-header__out) {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.site-header__account--in a:hover:not(.site-header__out),
.site-header__account--in a:focus:not(.site-header__out) {
  color: #ee3643;
}

.site-header__account--in a:active:not(.site-header__out) {
  color: rgba(0, 0 , 0, 0.3);
}

.site-header__account--in ul,
.main-navigation__site-list {
  padding: 0;
  margin: 0;
}

.site-header__account--in ul {
  display: flex;
  padding-top: 5px;
  margin-left: 17px;
}

.site-header__account--in li:first-of-type {
  position: relative;

  padding-right: 32px;
}

.site-header__account--in li:first-of-type::after {
  content: "";

  position: absolute;
  left: 90px;
  top: 10px;

  width: 4px;
  height: 4px;

  background-color: #32425c;
  border-radius: 50%;
}

.site-header__out {
  position: absolute;
  top: 14px;
  right: 10px;

  width: 20px;
  height: 17px;

  color: transparent;

  background-image: url("../img/name.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-header__out:hover,
.site-header__out:focus {
  background-position: 0 -17px;
}

.site-header__out:focus {
  background-position: 0 0;
}

.main-navigation__site-list {
  display: flex;
  flex-wrap: wrap;

  background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 #293449;
}

.main-navigation__site-list a {
  padding-top: 20px;
  padding-bottom: 23px;
  padding-left: 30px;
  padding-right: 31px;

  font-size: 17px;
  line-height: 17px;
  text-align: center;
}

.main-navigation__site-list li {
  flex-shrink: 0;
}


.main-navigation__site-list a:hover,
.main-navigation__site-list a:focus {
  background-color: #293449;
}

.main-navigation__site-list a:active {
  opacity: 0.5;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin-top: 21px;
  margin-bottom: 19px;
  padding: 0;

  list-style: none;
  font-family: "PT Sans", Arial, sans-serif;
  color: #000000;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs a {
  display: block;
  color: #000000;
}

.breadcrumbs li {
  position: relative;
  padding-right: 2px;
  padding-left: 40px;
}

.breadcrumbs li:first-child {
  padding-left: 0;
  width: 14px;

  background-image: url(../img/icon-home.svg);
  background-repeat: no-repeat;
  background-size: 14px 12px;
  background-position: -1px 2px;
}

.breadcrumbs li:first-child span {
  display: block;
  width: 20px;

  visibility: hidden;
}

.breadcrumbs li:not(:last-child)::after {
  content: "";

  position: absolute;
  top: 3px;
  right: -18px;
  z-index: 1;

  width: 9px;
  height: 9px;

  border-radius: 50px 0 0 0;
  box-shadow: 1px 1px 0 0 #c5c9d1;

  transform: rotate(-45deg);
}

.advantages {
  margin-top: 59px;
}

.advantages__top-row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.advantages__item {
  position: relative;

  flex-shrink: 0;
  width: 300px;

  background-repeat: no-repeat;
}

.flag {
  position: absolute;
  right: 0;
  z-index: 5;

  width: 60px;
  height: 60px;
  overflow: hidden;

  text-indent: -1000px;
}

.flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.advantages__item a:hover {
  background: rgba(0, 0, 0, 0.2);
}

.advantages__item a:active {
  background: rgba(0, 0, 0, 0.3);
}

.advantages__top-row .advantages__item:not(:nth-of-type(3n)) {
  margin-right: 20px;
}

.advantages__top-row .advantages__item:not(:nth-of-type(-n + 3)) {
  margin-top: 20px;
}

.advantages__item b {
  display: block;

  padding-top: 21px;
  padding-left: 22px;

  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.advantages__item a {
  display: block;
  margin-top: 12px;
  margin-left: 25px;
  margin-right: 140px;
  margin-bottom: 22px;
  padding-top: 11px;
  padding-bottom: 9px;
  padding-left: 21px;
  padding-right: 23px;
  box-sizing: border-box;
  width: 135px;

  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  white-space: nowrap;

  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.advantages__item--materials {
  background-color: #ffbf47;
  background-image: url("../img/icon-materials.svg");
  background-size: 44px 65px;
  background-position: 213px 31px;
}

.advantages__item--instruments {
  background-color: #3bbce3;
  background-image: url("../img/icon-instruments.svg");
  background-size: 75px 61px;
  background-position: 197px 33px;
}

.advantages__item--equipment {
  background-color: #dc91d8;
  background-image: url("../img/icon-equipment.svg");
  background-size: 78px 62px;
  background-position: 191px 31px;
}

.advantages__bottom-row {
  display: flex;
  margin-top: 20px;
}

.advantages__slider {
  position: relative;

  flex-shrink: 0;
  width: 620px;
  height: 266px;
  margin-right: 20px;
  overflow: hidden;

  background-color: #cccccc;
}

.advantages__slides {
  width: 200%;
}

.advantages__slide {
  position: relative;

  float: left;
  width: 620px;

  background-repeat: no-repeat;
  background-size: 620px 266px;
}

.advantages__slide span {
  display: block;
  padding-top: 23px;
  padding-left: 23px;
  padding-bottom: 46px;

  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}

.advantages__slide p {
  position: absolute;
  top: 61px;
  left: 24px;

  margin: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.advantages__slide .button-link {
  margin-top: 101px;
  margin-left: 25px;
  padding-left: 49px;
  margin-bottom: 22px;
  padding-right: 45px;
  width: 195px;
}

.advantages__slide-perforators {
  background-image: url("../img/perforators.jpg");
}

.advantages__slide-perforators .button-link:focus ~ .advantages__slides {
  transform: translate(0);
}

.advantages__slide-drills {
  background-image: url("../img/drills.jpg");
}

.advantages__slide-drills .button-link:focus ~ .advantages__slides {
  transform: translate(-620px);
}

.advantages__slider input[type="radio"] {
  display: none;
}

.advantages__slider-controls {
  position: absolute;
  left: 297px;
  bottom: 38px;
  z-index: 1;

  display: flex;
}

.advantages__slider-controls label {
  width: 6px;
  height: 6px;
  margin-right: 14px;

  background-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #ffffff;

  cursor: pointer;
}

.slider__btn {
  position: absolute;
  bottom: 74px;

  width: 22px;
  height: 40px;

  background-image: url("../img/slider-left.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
}

.slider__btn--prev {
  right: 290px;
}

.slider__btn--next {
  left: 281px;

  transform: rotate(180deg);
}

#btn-1:checked ~ .advantages__slider-controls label[for="btn-1"],
#btn-2:checked ~ .advantages__slider-controls label[for="btn-2"] {
  background-color: #ee3643;
}

#btn-1:checked ~ .advantages__slides {
  transform: translate(0);
}

#btn-2:checked ~ .advantages__slides {
  transform: translate(-620px);
}


.advantages__bottom-right {
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.advantages__bottom-right .advantages__item:last-of-type {
  margin-top: 20px;
}

.advantages__item--discounts {
  background-color: #8ed78f;
  background-image: url("../img/icon-discounts.svg");
  background-size: 59px 72px;
  background-position: 196px 26px;
}

.advantages__item--delivery {
  background-color: #ffc047;
  background-image: url("../img/icon-delivery.svg");
  background-size: 78px 63px;
  background-position: 191px 32px;
}

.top-block {
  display: flex;
  align-items: center;

  background-color: #f9f5f0;
  border-radius: 3px;
}

.top-block h2 {
  flex-shrink: 0;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 29px;
  padding-left: 28px;

  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  color: #32425c;
  text-transform: uppercase;
}

.top-link {
  flex-shrink: 0;
  margin-right: 24px;
  margin-left: auto;
  width: 253px;

  text-align: center;
}

.manufacturers {
  margin-top: 21px;
}

.manufacturers__container {
  display: flex;
  flex-wrap: wrap;
}

.manufacturers__top-block {
  display: flex;
  width: 100%;
  flex-grow: 1;
  margin-bottom: 20px;
}

.manufacturers__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 220px;
  height: 145px;
  margin-bottom: 20px;


  border: 1px solid #eaeaea;
}

.manufacturers__logo:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.manufacturers__logo:active {
  opacity: 0.3;
}

.manufacturers__logo:not(:nth-of-type(4n)) {
  margin-right: 20px;
}

.manufacturers__logo img {
  max-width: 220px;
  max-height: 145px;
}

.about .container {
  display: flex;
}

.about-us {
  width: 540px;
  flex-shrink: 0;
}

.contacts {
  width: 300px;
  flex-shrink: 0;
  margin-left: auto;
}

.about-us h2,
.contacts h2 {
  margin-top: 0;

  font-size: 30px;
  line-height: 30px;
  color: #000000;
  font-weight: normal;
  text-transform: uppercase;
}

.contacts__map {
  margin-top: 32px;
}

.about-us p:not(:last-of-type) {
  margin-bottom: 25px;
}

.about-us p:last-of-type {
  margin-bottom: 10px;
}

.about-us__companies {
  padding: 0;
  margin-top: 21px;
  margin-bottom: 36px;

  font-size: 18px;
  line-height: 20px;
  color: #000000;
  list-style: none;
}

.about-us__companies li {
  position: relative;

  padding-left: 36px;
}

.about-us__companies li:not(:first-of-type) {
  padding-top: 20px;
}

.about-us__companies li::before {
  content: "";

  position: absolute;
  top: 28px;
  left: 0;

  width: 25px;
  height: 2px;

  background-color: #ee3643;
}

.about-us__companies li:first-of-type::before {
  top: 9px;
  left: 0;
}

.button-link {
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;

  background-color: #ee3643;
  border-radius: 3px;
}

.button-link:hover,
.button-link:focus {
  background-color: #ca2c37;
}

.button-link:active {
  background-color: #ba2732;
}

.services {
  margin-top: 65px;
  margin-bottom: 78px;

  background-color: #f4f8f9;
}

.services__about {
  padding-top: 65px;
}

.services__about h2 {
  margin: 0;

  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.services__about p {
  width: 400px;
  margin-top: 26px;
  margin-bottom: 68px;
}

.services__container input[type="radio"] {
  display: none;
}

.services__list {
  position: relative;

  flex-shrink: 0;
  width: 240px;
  margin: 0;
  margin-bottom: 100px;
  padding: 0;

  list-style: none;
}

.services__list::after {
  content: "";

  position: absolute;

  width: 10px;
  height: 272px;
  top: -42px;
  right: 0;

  background-image: url(../img/services-shadow.png);
  background-repeat: no-repeat;
}

.services__list label {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 22px;

  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  font-weight: bold;

  background-color: #32425c;
  box-shadow: inset 0 1px 0 0 #405069, inset 0 -1px 0 0 #293449;
}

.services__list label:hover {
  background-color: #293449;
  cursor: pointer;
}

#services-btn-1:checked ~ .services__list label[for="services-btn-1"],
#services-btn-2:checked ~ .services__list label[for="services-btn-2"],
#services-btn-3:checked ~ .services__list label[for="services-btn-3"] {
  color: #32425c;

  background-color: #ffffff;
  box-shadow: none;
}

.services__all {
  display: flex;
}

.services__content {
  display: none;
}

.services__content {
  flex-shrink: 0;
  width: 100%;
  margin-left: 80px;

  background-repeat: no-repeat;
}

.services__content h3 {
  margin: 0;
  width: 400px;

  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  font-weight: normal;
  text-transform: uppercase;
}

.services__content p {
  margin-top: 24px;
  width: 400px;
}

.services__content--delivery {
  background-image: url("../img/delivery.png");
  background-position: 151px 24px;
  background-size: 468px 261px;
}

.services__content--warranty {
  background-image: url("../img/guarantee.png");
  background-position: 239px 2px;
  background-size: 389px 283px;
}

.services__content--credit {
  background-image: url("../img/credit.png");
  background-position: 165px 0;
  background-size: 465px 285px;
}

.services__content--credit .button-link {
  width: 195px;
  margin-top: 26px;
}

#services-btn-1:checked ~ .services__content--delivery,
#services-btn-2:checked ~ .services__content--warranty,
#services-btn-3:checked ~ .services__content--credit {
  display: block;
}

.about-us__link {
  width: 220px;
}

.contacts__link {
  width: 300px;
  margin-top: 32px;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.products--index {
  margin-top: 53px;
}

.products--catalog .products__container {
  display: flex;
  flex-wrap: wrap;
}

.products_top-catalog {
  width: 100%;
  margin-bottom: 20px;

  background-color: #f2f6f8;
}

.products_top-catalog h2 {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 29px;
  padding-left: 28px;

  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
  color: #32425c;
}

.products__filter .products__filter-title {
  display: block;

  font-size: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  line-height: 18px;

  background-color: #f7f3ec;
  border-radius: 3px;
}

.products__products {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  list-style: none;
}

.products__products li {
  margin-top: 20px;
}

.products__products--index li:not(:nth-of-type(4n)) {
  margin-right: 20px;
}

.products__products--catalog li:not(:nth-of-type(3n)) {
  margin-right: 20px;
}

.products__product {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 220px;

  font-family: "PT Sans", Arial, sans-serif;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
}

.products__product:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.product__box {
  position: absolute;

  width: 218px;

  background-color: #ffffff;
}

.products__product:hover .product__box,
.products__product:focus .product__box {
  z-index: 2;
}

.products__product .btn {
  display: block;
  width: 135px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;

  border-radius: 3px;
}

.products__product .btn--buy {
  position: relative;
  margin-top: 43px;
  margin-bottom: 7px;

  color: #ffffff;

  background-color: #63a63e;
  box-shadow: inset 0 -3px 0 0 #367315;
}

.products__product .btn--buy:hover,
.products__product .btn--buy:focus {
  background-color: #5fbb2d;
}

.products__product .btn--buy:active {
  background-color: #367315;
}

.products__product .btn--buy::before {
  content: "";

  position: absolute;
  top: 11px;
  left: 12px;
  width: 15px;
  height: 15px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.products__product .btn--buy:hover::before,
.products__product .btn--buy:focus::before,
.products__product .btn--buy:active::before {
  opacity: 1;
}

.products__product .btn--favorites {
  margin-bottom: 43px;

  color: #32425c;

  box-shadow: inset 0 0 0 3px #63a63e;
}

.products__product .btn--favorites:hover,
.products__product .btn--favorites:focus {
  box-shadow: inset 0 0 0 3px #32425c;
}

.products__product .btn--favorites:active {
  box-shadow: inset 0 0 0 3px #32425c;
  opacity: 0.3;
}

.products__filter {
  width: 220px;

  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 15px;
}

.products__sorting-catalog {
  width: 700px;
  margin-left: 20px;
}

.products__filter fieldset {
  padding: 0;
  border: none;
  margin: 0;
}

.products__filter .products__filter-range {
  margin-top: 11px;
}

.products__filter .products__filter-checkbox {
  margin-top: 16px;
}

.products__range-price {
  margin-top: 14px;
}

.products__range-price,
.products__manufacturers-list {
  border-bottom: 1px solid #e5e5e5;
}

.products__ranges {
  position: relative;
  width: 220px;
  padding: 39px 20px;
  background-color: #f7f3ec;
  border-radius: 0 0 3px 3px;
}

.products__range-scale--off {
  width: 180px;
  height: 2px;

  background-color: #d7dcde;
}

.products__range-scale--on {
  position: absolute;
  top: 39px;

  width: 152px;
  height: 2px;

  background-color: #00ca74;
}

.products__range-btn {
  position: absolute;
  z-index: 1;
  top: 30px;

  width: 20px;
  height: 20px;
  padding: 0;

  background-color: #ffffff;
  border-radius: 50%;
  border: none;
  box-shadow: 0 1px 1px 0 #c5c5c5;

  cursor: pointer;
}

.products__range-btn--lower {
  left: 20px;
}

.products__range-btn::before {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;

  width: 4px;
  height: 4px;

  background-color: #ababab;
  border-radius: 50%;
}

.products__range-btn--upper {
  right: 40px;
}

.products__range-outputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 9px;
  margin-bottom: 25px;
}

.products__range-outputs input[type="text"] {
  width: 95px;
  height: 38px;
  padding-bottom: 4px;

  font-size: 17px;
  line-height: 18px;
  text-align: center;

  border: none;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.products__manufacturers-list,
.products__power-list {
  padding: 0;
  margin: 0;
  margin-top: 12px;
  padding-left: 34px;
  padding-bottom: 20px;

  list-style: none;
}

.products__manufacturers-list label,
.products__power-list label {
  position: relative;

  cursor: pointer;
}

.products__checkbox:disabled + label,
.products__radio:disabled + label {
  opacity: 0.4
}

.products__manufacturers-list label::before,
.products__power-list label::before {
  content: "";

  position: absolute;
  left: -34px;
  top: -1px;

  width: 27px;
  height: 23px;

  background-image: url(../img/check-radio.svg);
  background-repeat: no-repeat;
  background-position: 0 -23px;
}

.products__manufacturers-list label:hover::before {
  background-position: 0 0;
}

.products__checkbox:checked + label::before {
  background-position: 0 -69px;
}

.products__checkbox:checked + label:hover::before {
  background-position: 0 -46px;
}

.products__power-list label::before {
  left: -35px;
  top: -3px;

  width: 27px;
  height: 25px;

  background-position: 0 -117px;
}

.products__power-list label:hover::before {
  background-position: 0 -92px;
}

.products__radio:checked + label::before {
  background-position: 0 -167px;
}

.products__radio:checked + label:hover::before {
  background-position: 0 -142px;
}

.products__manufacturers-list li:not(:last-child),
.products__power-list li:not(:last-child) {
  padding-bottom: 16px;
}

.products__filter .products__filter-radio {
  margin-top: 17px;
  margin-bottom: 56px;
}

.products__filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
}

.products__filter button[type="submit"] {
  width: 140px;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 38px;
  padding-right: 39px;

  text-align: center;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.products__filter button[type="submit"]:hover,
.products__filter button[type="submit"]:focus {
  border: 1px solid #bdc6ca;
}

.products__filter button[type="submit"]:active {
border: 1px solid #ee3643;
}

.products__sorting {
  display: flex;
  padding-top: 9px;
  padding-left: 19px;
  padding-bottom: 10px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #f7f3ec;
  border-radius: 3px;
}

.products__sorting ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-left: 139px;

  list-style: none;
}

.products__sorting li {
  flex-shrink: 0;
}

.products__sorting li:not(:nth-last-of-type(-n + 3)) {
  padding-right: 68px;
}

.products__sorting li:nth-last-of-type(3) {
  padding-right: 47px;
}

.products__sorting li:last-of-type {
  padding-left: 21px;
}

.products__sorting svg {
  margin-top: 4px;

  fill: #c5c5c5;
}

.products__sorting svg:hover {
  fill: #000000;
}

.products__sorting svg:active {
  fill: #ee3643;
}

.products__sorting-btn:not(:nth-last-of-type(-n + 2)) a {
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted #ee3643;
}

.products__sorting-btn a:hover {
  color: #000000;

  border: none;
}

.products__sorting-btn a:active {
  color: #ee3643;

  border: none;
}

.products__product img {
  z-index: 1;

  display: block;
  width: 218px;
  height: 170px;
  margin: 0 auto;
}

.products__product h3 {
  order: 1;
  width: 160px;
  margin-top: 9px;
  margin-bottom: 14px;

  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
}

.products__product b {
  order: 1;
  display: block;

  font-size: 17px;
  line-height: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.products__old-price {
  margin-bottom: 13px;

  color: #999999;
  text-align: center;
  text-decoration: line-through;
}

.products__price {
  position: relative;

  width: 122px;
  margin-top: auto;
  margin-left: -12px;
  margin-bottom: 20px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 35px;

  color: #ffffff;

  background-color: #ee3643;
  border-radius: 3px 0 0 3px;
}

.products__price::after {
  content: "";

  position: absolute;
  top: 0;
  right: -19px;

  border: 19px solid #ffffff;
  border-right: 0;
  border-left: 19px solid #ee3643;
  border-top: 19px solid transparent;
  border-bottom: 19px solid transparent;
}

.products__pagination {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  margin-left: 240px;
  margin-top: 51px;
}

.products__pagination a {
  padding: 9px 15px 10px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;

  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.products__pagination a:hover,
.products__pagination a:focus {
  border-color: #bdc6ca;
}

.products__pagination a:active {
  border-color: #ee3643;
}

.products__pagination .products__next-page {
  flex-shrink: 0;
  padding-left: 30px;
  padding-right: 31px;
}

.site-pagination {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  margin: 0;
  margin-top: 8px;
  padding: 0;

  list-style: none;
}

.site-pagination li {
  flex-shrink: 0;
  margin-right: 10px;
}

.current a {
  color: #ffffff;

  background-color: #ee3643;
  border: none;
}

.about {
  margin-bottom: 86px;
}

.about-product {
  margin-top: 59px;

  background-color: #f2f6f8;
}

.about-product__content h2 {
  margin: 0;
  padding-top: 65px;

  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.about-product__content p {
  margin: 0;
  padding-top: 27px;
  padding-bottom: 68px;
}

.site-footer__logo {
  padding-left: 42px;
  padding-right: 42px;
  padding-top: 21px;
  padding-bottom: 21px;

  font-size: 30px;
  line-height: 21px;
}

.site-footer__logo a:hover,
.site-footer__logo a:focus {
  text-decoration: none;
}

.site-footer__top {
  background-color: #32425c;
}

.site-footer__top .container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;
}

.site-footer__top li {
  flex-shrink: 0;
  padding-left: 60px;
  padding-top: 15px;
}

.site-footer__address {
  order: 1;
  margin-top: 16px;
  padding-left: 3px;

  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  font-style: normal;
  text-decoration: none;
}

.site-footer__top ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-left: auto;

  list-style: none;
  font-size: 18px;
  line-height: 24px;
}

.site-footer__advantages {
  width: 600px;
  order: 2;
  margin-top: 0;
  padding: 0;
}

.site-footer__company {
  width: 620px;
  margin-top: 23px;
  padding: 0;
}

.site-footer__top a:not(.site-footer__logo):hover,
.site-footer__top a:not(.site-footer__logo):focus {
  text-decoration: underline;
}

.site-footer__top a:active {
  text-decoration: none;
}


.site-footer__company a {
  color: #ffffff;
}

.site-footer__company a:active {
  color: rgba(255, 255, 255, 0.5);
}

.site-footer__advantages a {
  color: #ffd180;
}

.site-footer__advantages a:active {
  color: rgba(255, 209, 128, 0.5);
}

.site-footer__bottom .container {
  display: flex;
  align-items: center;
}

.site-footer__bottom .site-footer__container {
  padding-bottom: 30px;
}

.site-footer__bottom p {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 33px;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.site-footer__copyright {
  flex-shrink: 0;
  width: 300px;
}

.site-footer__feedback {
  margin-left: auto;
  margin-right: 52px;
}

.site-footer__bottom a {
  color: #ffd180;
}

.social a {
  display: flex;

  width: 42px;
  height: 42px;

  color: #ffffff;

  background-color: #212a3a;
  border-radius: 50%;
}

.social a:hover,
.social a:focus,
.social a:active {
  background-color: #ee3643;
}

.social img {
  margin: auto;
}

.site-footer__social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 275px;
  padding: 0;
  padding-top: 34px;
  margin: 0;
  margin-left: 19px;

  list-style: none;
}

.site-footer__social li {
  margin-right: 3px;
}

.site-footer__social li:nth-of-type(n+7) {
  margin-top: 10px;
}

.site-footer__developer {
  margin-right: 14px;
}

.site-footer__bottom a:hover,
.site-footer__bottom a:focus {
  text-decoration: underline;
}

.site-footer__bottom a:active {
  text-decoration: none;
  color: #ee3643;
}


.site-footer__bottom {
  background-color: #293449;
}

.modal-map,
.modal-write,
.modal-order,
.overlay {
  display: none;
}

.modal {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 25;

  transform: translate(-50%, -50%);
}

.modal-map {
  width: 940px;
  height: 446px;
  overflow: hidden;

  background-color: #ffffff;
  box-shadow: 0 0 18px 1px rgba(0, 0, 0, 0.5);
}

.modal-write,
.modal-order {
  width: 620px;

  color: #000000;

  background-color: #ffffff;
  box-shadow: 0 -7px 0 0 #ff5357, 0 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal-clearfix {
  margin: 0 80px;
}

.modal-write .fields {
  display: flex;
  flex-wrap: wrap;
  margin-top: 47px;
  margin-bottom: 17px;
  padding: 0;

  border: none;
}

.modal-write label {
  display: block;
  flex-shrink: 0;

  font-size: 18px;
  line-height: 18px;
}

.modal-write input,
.modal-write textarea {
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;

  border: 2px solid #dee3e4;
  border-radius: 3px;
}

.modal-write input:hover,
.modal-write textarea:hover {
  border-color: #b5b5b5;
}

.modal-write input:focus,
.modal-write textarea:focus {
  border-color: #ee3643;
}

.modal-write input {
  height: 38px;
  padding: 0 13px;
}

.modal-write textarea {
  width: 460px;
  height: 114px;
  padding: 8px 13px;
  resize: none;
}

.modal-write input[name="name"],
.modal-write input[name="email"] {
  width: 220px;
}

.modal-write input[name="name"] {
  margin-right: 20px;
}

.modal-write::-webkit-input-placeholder {
  color: #a9a9a9;
}

.modal-write:-moz-placeholder {
  color: #a9a9a9;
}

.modal-bottom {
  padding-top: 37px;
  padding-bottom: 37px;

  background-color: #f4f4f4;
}

.modal-bottom .button-link {
  width: 460px;

  border: none;
}

.modal-close {
  position: absolute;
  top: 6px;
  right: 5px;

  width: 27px;

  color: transparent;

  background: none;
  border: none;
}

.modal-close:focus {
  outline: 2px solid #94b9f0;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 0;
  left: 10px;

  width: 4px;
  height: 28px;

  background-color: #ee3643;

  cursor: pointer;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-order p {
  padding: 65px 0 69px 55px;

  font-size: 30px;
  line-height: 30px;
  text-align: center;

  background-image: url(../img/form-ok.svg);
  background-repeat: no-repeat;
  background-size: 66px 66px;
  background-position: 0 48px;
}

.order-bottom {
  display: flex;
  flex-wrap: wrap;
}

.modal-order .button-link {
  width: 220px;
  flex-shrink: 0;
}

.order-close,
.order-close:hover,
.order-close:focus,
.order-close:active {
  position: relative;
  top: 0;
  left: 0;

  margin-left: 20px;

  color: #000000;

  background-color: #ffffff;

  cursor: pointer;
}

.order-close::before,
.order-close::after {
  top: -195px;
  left: 279px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0);
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
