/* Файл созданн временно для храниния всяких удобностей */

/* Подсветка блоков */

body > * {
  background-color: rgba(148, 1, 53, 0.8);
}

body > * > * {
  background-color: rgba(238, 255, 0, 0.5);
}

body > * > * > * {
  background-color: rgba(41, 41, 186, 0.5);
}

body > * > * > * > * {
  background-color: rgba(112, 217, 7, 0.5);
}

/* Конец подсветки */
